.button {
    width: 153px;
    height: 32px;
    border-radius: 5px;
    background-color: coral;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    &:hover {
        transition: 0.5s all;
        background-color: lightcoral;
        color: black;
    }
}