.promo {
    background-color: rgb(248, 223, 223);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    
    &__official {
        color: black;
        font-size: 24px;
        font-weight: 500;
        text-align: center;
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__phone {
        display: block;
        color: black;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
    }

    &__dropdown {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 1;
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            padding: 10px;
            cursor: pointer;
        }
    }

    &__button:hover .dropdown {
        display: block;
    }
}